<% provide(:title, '联系我们') %>
<br />
<br />
<br />
<div class="jumbotron">
  <h1>Contact Address</h1>
  <p>
    中国，北京市<br />
    海淀区学院路37号<br />
    北京航空航天大学<br />
    ------------------------------------------------------<br />
    Beihang University<br />
    37th Xueyuan Rd, Haidian District<br />
    Beijing, China
  </p>
</div>