<% provide(:title, '联系我们') %>
<p><strong>杨继远</strong>  <a href="https://github.com/Jiyuan-Yang">https://github.com/Jiyuan-Yang</a> </p>
<p><strong>马旭</strong>  <a href="https://github.com/bhmaxu">https://github.com/bhmaxu</a> </p>