<% provide(:title, '帮助') %>
<head>
  <meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
  <title>help_message</title></head>
<body><h1>the Max Jim&#39;s 使用帮助</h1>
<h2>说明</h2>
<p>the Max Jim&#39;s为电商平台。您可以作为卖家建立自己的店铺并上架商品，或作为买家浏览不同种类的商品并购买。</p>
<h2>注册与登陆</h2>
<p>首次使用<strong>the Max Jim&#39; </strong>需要您点击上方导航栏的 <em>登陆/注册</em> 按钮使用电子邮箱注册。稍后您需要在个人信息选项中完善自己的收货地址等信息，从而开始享受<strong>the Max Jim&#39; </strong>提供的买卖服务。</p>
<h2>商品检索</h2>
<p>在<strong>the Max Jim&#39; </strong>中，您可以通过两种方式检索并浏览商品。一种是在主页左侧的类别导航中选择您需要的商品种类，或是在右上角的搜索框中输入商品信息进行检索。</p>
<h2>关于卖家</h2>
<p><strong>the Max Jim&#39; </strong>为卖家提供了完善的管理店铺以及订单的功能。您可以创建多个店铺并分别上架商品，可以随时查看所有订单的情况。您还可以随时追踪订单的状态，如是否发货、是否收货等。同时<strong>the Max Jim&#39; </strong>还为您提供了完善的统计报表功能。您可以方便地以可视化的方式查看每一个商品、每一个店铺的日收入、月收入变化情况，也可以查看不同类别的商品的销售分布，甚至可以查询每个月您的商品销售的排行情况，方便您及时调整经营策略。</p>
<h2>关于买家</h2>
<p><strong>the Max Jim&#39; </strong>为买家提供了完善的搜索商品、收藏商品以及管理订单功能。您可以在浏览到一件中意的商品是随时购买，或是把它添加到购物车中一起付款，或是添加到收藏夹中随时查看。同时我们还有完善的统计功能，您不仅可以查看每一个订单的具体购买数量和购买金额，还可以使用我们的报表功能，查看您某个月内或是某一年内购买情况变化的曲线，或是通过您购买商品的种类查看您的购买偏好。</p>
<p>&nbsp;</p>
</body>