<% provide(:title, '主页') %>
<h1> the Max Jim's </h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="/category/clothes" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon glyphicon-sunglasses" aria-hidden="true"></span> 服装
          </h4>
          <p class="list-group-item-text">精选男装/女装/童装</p>
        </a>
        <a href="/category/books" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></span> 书籍
          </h4>
          <p class="list-group-item-text">热门畅销书/原版书/电子书</p>
        </a>
        <a href="/category/office" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon glyphicon-briefcase" aria-hidden="true"></span> 办公用品
          </h4>
          <p class="list-group-item-text">笔/笔芯/信纸/草稿纸</p>
        </a>
        <a href="/category/digital" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon glyphicon-hdd" aria-hidden="true"></span> 电子产品
          </h4>
          <p class="list-group-item-text">手机/平板/笔记本/台式机</p>
        </a>
        <a href="/category/entertainment" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon glyphicon-headphones" aria-hidden="true"></span> 休闲娱乐
          </h4>
          <p class="list-group-item-text">蓝牙耳机/游戏机/游戏货币</p>
        </a>
        <a href="/category/fruits_and_animals" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon glyphicon-leaf" aria-hidden="true"></span> 植物/动物
          </h4>
          <p class="list-group-item-text">草本植物/室内植物/猫</p>
        </a>
        <a href="/category/virtual_items" class="list-group-item">
          <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon glyphicon-cloud" aria-hidden="true"></span> 虚拟商品
          </h4>
          <p class="list-group-item-text">正版Office/正版Adobe系列授权</p>
        </a>
      </div>
    </div>
    <div class="col-md-offset-3">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="center"> <%= link_to image_tag('0.png', alt: '0', size: "900x455") %> </div>
            <div class="carousel-caption">
              欢迎访问 the Max Jim's
            </div>
          </div>
          <div class="item">
            <div class="center"> <%= link_to image_tag('1.png', alt: '1', size: "900x455") %></div>
            <div class="carousel-caption">
              即刻注册账户
            </div>
          </div>
          <div class="item">
            <div class="center"> <%= link_to image_tag('2.png', alt: '2', size: "900x455") %></div>
            <div class="carousel-caption">
              即刻创建店铺
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>


