<tr>
  <td class="col-md-4"><%= favorite_item.product.name %></td>
  <td class="col-md-4"> <%= favorite_item.product.shop.name %> </td>
  <td class="col-md-4">
    <%= link_to '<button class="btn btn-danger">删除</button>'.html_safe, favorite_item_destroy_path(favorite_item_id: favorite_item.id),
                method: :delete, data: {confirm: '您确定要删除吗？'} %>
  </td>
</tr>
