<% provide(:title, '收藏') %>
<h1><%= @user.name + '的收藏' %></h1>

<% if @user.favorite.favorite_items.any? %>
  <div class="container-fluid">
    <div class="row table_head">
      <div class="col-md-4">
        product
      </div>
      <div class="col-md-4">
        user_id
      </div>
    </div>
    <%= render @favorite_items %>
  </div>
  <%= will_paginate @favorite_items %>
<% end %>
<% if @user.favorite.favorite_items.count == 0 %>
  <div class="jumbotron">
    <h1>Oops!</h1>
    <p>您的收藏似乎是空的，去看看正在发售的商品吧。</p>
    <p>您可以点击下面的按钮，返回主页，分类查看商品，我们有数十类商品供您选择，收藏它们，获取最新动态！</p>
    <p>已经有想要的商品了？在导航栏的搜索框，输入商品名称搜搜看！</p>
    <br/>
    <br/>
    <br/>
    <div class="text-center">
      <%= link_to '<button class="btn btn-primary btn-lg">回到主页，查找商品</button>'.html_safe, root_path %>
    </div>
  </div>
<% end %>