<% provide(:title, 'favorites') %>
<h1><%= @user.name + '\'s favorites' %></h1>

<% if @user.favorite.favorite_items.any? %>
  <div class="container-fluid">
    <div class="row table_head">
      <div class="col-md-4">
        product
      </div>
      <div class="col-md-4">
        user_id
      </div>
    </div>
    <%= render @favorite_items %>
  </div>
  <%= will_paginate @favorite_items %>
<% end %>
<% if @user.favorite.favorite_items.count == 0 %>
  <div>click <%= link_to 'here', '#' %> to see all of the products</div>
<% end %>