<% if @user.shops.count == 0 %>
  <div>It seems that you don't have any shops.</div>
  <div><%= link_to "Click here to create", create_shop_path %></div>
<% else %>
  <% @user.shops.each do |item| %>
    <div><%= item.name %>|<%= item.description %></div>
  <% end %>
  <div><%= link_to "Create shop", create_shop_path %></div>
<% end %>