<% provide(:title, 'shopping cart') %>
<h1><%= @user.name+'\'s shopping cart' %></h1>
<% @user.shopping_cart.shopping_cart_items.each do |item| %>
  <div><%= item.product_id %>|<%= item.amount %></div>
<% end %>
<br/>
<%= link_to 'buy them!', add_items_in_shopping_cart_to_order_path, method: :post %>
