<% provide(:title, @user.name + '\'s shops') %>
<h1>this is the place for user the take a look at there shops</h1>
<% if @user.shops.count == 0 %>
  <div>
    it seems that you don't have any shops,
    <button class="btn"> <%= link_to "click here", create_shop_get_path %> to create you shop!</button>
  </div>
<% else %>
  <div class="container-fluid">
    <div class="row table_head">
      <div class="col-md-2"> shop id</div>
      <div class="col-md-4"> shop.name</div>
      <div class="col-md-4"> description</div>
      <div class="col-md-2"> delete</div>
    </div>
    <%= render @shops %>
  </div>
  <%= will_paginate @shops %>

  <div><%= link_to '<button class="btn btn-success">create a shop</button>'.html_safe, create_shop_get_path %> </div>
<% end %>