  <li>
    order#<%= order.id %>

    <button class="btn">
    <%= link_to 'details', order %>
    </button>

    <button class="btn btn-danger">
    <%= link_to 'delete', order_destroy_path(order_id: order.id), method: :delete,
               data: {confirm: 'Are you sure?'} %>
    </button>

  </li>