<div class="order row">
  <div class="col-md-2">
    #<%= order.id %>
  </div>

  <div class="col-md-offset-8">
    <button class="btn">
      <%= link_to 'details', order %>
    </button>
    <button class="btn btn-danger">
      <%= link_to 'delete', order_destroy_path(order_id: order.id), method: :delete,
                  data: {confirm: 'Are you sure?'} %>
    </button>
  </div>
</div>