<div class="order row">
  <div class="col-md-2">
    #<%= order.id %>
  </div>

  <div class="col-md-offset-8">
    <%= link_to '<button class="btn">details</button>'.html_safe, order %>
    <%= link_to '<button class="btn btn-danger">delete</button>'.html_safe, order_destroy_path(order_id: order.id), method: :delete,
                data: {confirm: 'Are you sure?'} %>
  </div>
</div>