<% provide(:title, @user.name + '\'s orders') %>

<div >
  <% if @user.orders.any? %>
    <div class="container-fluid">
      <%=render @orders%>
    </div>
    <%= will_paginate %>
  <% end %>
</div>
