<% provide(:title, '订单列表') %>

<div>
  <% if @user.orders.any? %>
    <div class="container-fluid">
      <table class="table table-striped">
        <tr>
          <td class="col-md-3">
            订单号
          </td>
          <td class="col-md-3">
            订单总价
          </td>
          <td class="col-md-6">
            操作
          </td>
        </tr>
        <%= render @orders_not_finished %>
      </table>

      <table class="table table-striped">
        <tr>
          <td class="col-md-3">
            订单号
          </td>
          <td class="col-md-3">
            订单总价
          </td>
          <td class="col-md-6">
            操作
          </td>
        </tr>
        <%= render @orders_finished %>
      </table>
    </div>
    <%= will_paginate %>
  <% end %>
</div>
