<% provide(:title, '订单详情') %>
<h1><%= @user.name %>'s Order #<%= @order.id %></h1>
<% if @order.order_items.any? %>
  <div class="container-fluid">
    <table class="table table-striped">
      <tr>
        <td class="col-md-4">商品名</td>
        <td class="col-md-4">商品数量</td>
        <td class="col-md-4" colspan="2">操作</td>
      </tr>
      <%= render @order_items %>
      <%= will_paginate @order_items %>
    </table>

  </div>
<% end %>

