<div class="row order_item">
  <div class="col-md-4"> <%= order_item.product.name %></div>
  <div class="col-md-4"> <%= order_item.amount %></div>
  <div class="col-md-4">
    <%= link_to '<button class="btn btn-danger">delete</button>'.html_safe, order_item_destroy_path(order_item.order.id, order_item.id), method: :delete %>
  </div>
</div>
