<% params_map = {'clothes':'服装','books':'书籍','office':'办公用品',
                 'digital':'电子产品','entertainment':'休闲娱乐',
                 'fruits_and_animals':'植物/动物', 'virtual_items':'虚拟商品'} %>
<% provide(:title, params_map[params[:category].to_sym]) %>
<!-- don't forget to use to_sym, or it will use string -->
<h1><%= params_map[params[:category].to_sym] %></h1>
<div>
  <% if @products.any? %>
    <div class="container-fluid">
      <table class="table table-striped">
        <tr>
          <td class="col-md-2">商品ID</td>
          <td class="col-md-2">商品名</td>
          <td class="col-md-4">商品描述</td>
          <td class="col-md-2">商品价格</td>
          <td class="col-md-2">操作</td>
        </tr>
        <%= render @products %>
      </table>
      <%= will_paginate %>
    </div>
  <% end %>
</div>
