<% provide(:title, params[:category]) %>
<h1><%= params[:category] %></h1>
<div>
  <% if @products.any? %>
    <div class="container-fluid">
      <table class="table table-striped">
        <tr>
          <td class="col-md-2">商品ID</td>
          <td class="col-md-2">商品名</td>
          <td class="col-md-4">商品描述</td>
          <td class="col-md-2">商品价格</td>
          <td class="col-md-2">操作</td>
        </tr>
        <%= render @products %>
      </table>
      <%= will_paginate %>
    </div>
  <% end %>
</div>
