<footer class="footer">
  <nav>
    Copyright © 2019 the Max Jim's. All rights reserved.
    <ul>
      <li><%= link_to "关于我们", about_url %></li>
      <li><%= link_to "联系我们", contact_url %></li>
    </ul>
  </nav>
</footer>